<h1>Cutting Edge Hair Salon</h1>

<div class="left">

  <h3 class="underline">Stylists</h3>
  <% if @stylists.any?() %>
    <ul class="list-unstyled">
      <% @stylists.each() do |stylist| %>
        <li><a href="/stylist/<%= stylist.id() %>"><%= stylist.name() %></a></li>
      <% end %>
    </ul>
  <% else %>
    <h3>You currently have no stylists</h3>
  <% end %>

  <form class="" action="/new_stylist" method="post">
    <label for="">Add stylist:</label><br>
    <input type="text" name="stylist_name" id="stylist_name" placeholder="Name"><br><br>
    <button type="submit" class="btn btn-primary">Add stylist</button>
  </form>

</div>

<div class="right">

  <h3 class="underline">Clients</h3>
  <% if @clients.any?() %>
    <ul class="list-unstyled">
      <% @clients.each() do |client| %>
        <li><a href="/client/<%= client.id() %>"><%= client.name() %></a></li>
      <% end %>
    </ul>
  <% else %>
    <h3>You currently have no clients</h3>
  <% end %>

  <form class="" action="/new_client" method="post">
    <label for="">Add client:</label><br>
    <input type="text" name="name" id="name" placeholder="Name">
    <input type="text" name="phone" id="phone" placeholder="Phone"><br><br>
    <button type="submit" class="btn btn-primary">Add client</button>
  </form>

</div>
