<h2>Hair Salon</h2>

<h3>Stylists:</h3>
<% if @stylists.any?() %>
  <ul>
    <% @stylists.each() do |stylist| %>
      <li><a href="/stylist/<%= stylist.id() %>"><%= stylist.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <h3>You currently have no stylists</h3>
<% end %>

<h4>Add stylist:</h4>
<form class="" action="/new_stylist" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">
  <button type="submit">Add stylist</button>
</form>

<h3>Clients:</h3>
<% if @clients.any?() %>
  <ul>
    <% @clients.each() do |client| %>
      <li><a href="/client/<%= client.id() %>"><%= client.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <h3>You currently have no clients</h3>
<% end %>

<h4>Add client:</h4>
<form class="" action="/new_client" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">
  <label for="phone">Phone:</label>
  <input type="text" name="phone" id="phone">
  <button type="submit">Add client</button>
</form>
